body{
  background-color: #f6f8fc;
}
#logo {
  height: 400px;
  width:500px;
}
p{
  font-size: 20px;
}
.faqs{
  background-color: #edf3f5;
  box-shadow: 5px 10px #e1eaed;
  font-size:25px;
}

.social-media{
  height: 50px;
  width:50px;
}
.sponsors{
  height: 300px;
  width:700px;
}

 .up {
            position: relative;
            top: 0;
            transition: top ease 0.5s;
        }

        .up:hover {
            top: -10px;
        }
li a{
  font-size: 20px;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #808080;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  
  position: relative;
}

