body{
  background-color: #f6f8fc;
}
#logo {
  height: 400px;
  width:500px;
}
p{
  font-size: 20px;
}
.faqs{
  background-color: #edf3f5;
  box-shadow: 5px 10px #e1eaed;
  font-size:25px;
}

.social-media{
  height: 50px;
  width:50px;
}
.sponsors{
  height: 300px;
  width:700px;
}

 .up {
            position: relative;
            top: 0;
            transition: top ease 0.5s;
        }

        .up:hover {
            top: -10px;
        }


